@import "tailwindcss";

body {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: marquee-scroll linear infinite;
}

@font-face {
  font-family: "Fight";
  src: url("/fonts/FIGHTT3_.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "label";
  src: url("/fonts/Impact_Label.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "base";
  src: url("/fonts/Base 02.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "trash";
  src: url("/fonts/TrashHand.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}

@font-face {
  font-family: "Mons";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
@font-face {
  font-family: "impact";
  src: url("/fonts/Impact.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}
